#bento
{
  display: block;
  border-style: solid;
  border-width: 5px;
  border-color: darkgray;
  width: 50em;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 10em;
  font: white;

}

div.bento
{
  position: relative;
  left: 
}

body

{
  color: white;
}

h1
{
  display: block;
  font-weight: bold;
  font-size: 3em;
  margin: 0 auto;
  bottom: 0 auto;
  background-color: blue;
}

h2
{
  display: block;
  font-weight: bold;
  font-size: 3em;
  margin: 0 auto;
  bottom: 0 auto;
  background-color: green;
}

h3
{
  display: block;
  font-weight: bold;
  font-size: 3em;
  margin: 0 auto;
  bottom: 0 auto;
  background-color: red;
}
h4
{
  display: block;
  font-weight: bold;
  font-size: 3em;
  margin: 0 auto;
  bottom: 0 auto;
  background-color: purple;
}
